body {
    font-family: "SimSun";
    background: #f3f3f3;
}
#toolbar, #footer {
    background: #ffffff;
}
.toolbar_auto{
	width: 990px;
	margin: 0 auto;
}
#header{
    position: relative;
    z-index: 999;
    width: 100%;
    min-width: 1190px;
}
.top_auto{
    padding: 15px 0;
    height: 100px;
    width: 990px;
    margin: 0 auto;
}
.logo {
    width: 240px;
    height: 100px;
}
.cart_process {
    float: right;
}
.steps {
    width: 378px;
    height: 22px;
    position: relative;
    margin-top: 50px;
}
.step_1 {
    background: url(img/cart_bar.png) no-repeat;
}
.step_1 .process_cart {
    color: #ee5533;
}
.steps .process_cart {
    position: absolute;
    left: 10px;
    top: 26px;
}
.steps .process_info {
    position: absolute;
    left: 150px;
    top: 26px;
}
.steps .process_success {
    position: absolute;
    left: 300px;
    top: 26px;
}
.login_tips {
    background: #fffde6;
    border: 1px solid #feb655;
    padding: 12px 20px;
    color: #666;
    margin-bottom: 10px;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
}
.icon_warn {
    width: 20px;
    height: 15px;
    background-position: -50px -160px;
}
.icons {
	display: inline-block;
    vertical-align: middle;
    background-image: url(img/list_icon.png);
}
.btn_link {
    padding: 5px 15px;
    color: #FFF;
    background: #e53;
}
#wrap,#wrap2{
	margin: 0 auto;
    margin-bottom: 20px;
}
#wrap,#wrap2,.success_info{
    width: 990px;	
}
#wrap{
    position: relative;
}
.success_info {
    background: #FFF;
    border: 1px solid #dddddd;
    border-top: 2px solid #e53;
}
.shopcart_empty .shopcart_empty_tips {
    margin-left: 280px;
    margin-top: 95px;
    font-size: 18px;
}
.shopcart_empty .shopcart_empty_tips, .cart_footer .product_sum_jisuan a, .online_pay, .success_title, .success_info .success_tips, .success_info .error_tips, .order_detail_container .order_detail_title h1 {
    font-family: "Microsoft YaHei";
}
.shopcart_empty .icon_bigcart {
    width: 45px;
    height: 40px;
    background-position: -60px -272px;
}
.shopcart_empty .shopcart_empty_tips a {
    color: #0088dd;
}
.success_info .error_operation {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
}
.success_info .btn {
    padding: 5px 12px;
}
.primary_btn {
    background: #ee5533;
    border: 1px solid #ee5533;
    margin-right: 10px;
    border-radius: 4px;
    color: #FFF;
}
.btn_link:hover,.primary_btn:hover{
	color: #fff;
}
.yunfei_info {
    background: #f3f3f3;
    padding-bottom: 10px;
}
.yunfei {
    color: #ee5533;
    font-family: "å¾®è½¯é›…é»‘";
    float: left;
    font-size: 16px;
}

.cart_header {
    border-top: 3px solid #ee5533;
    background: #efefef;
}
.cart_header div {
    font-size: 12px;
    color: #666;
    padding: 10px 0;
}
.cart_header .cart_header_first {
    text-align: left;
    border-left: 1px solid #ddd;
}
.cart_column_01, .cart_column_02, .cart_column_03, .cart_column_04, .cart_column_05, .cart_column_06, .cart_column_07, .cart_column_08, .cart_column_09 {
    float: left;
    text-align: center;
}
.cart_column_03, .cart_column_04, .cart_column_05, .cart_column_07 {
    font-family: "Arial";
}
.cart_column_01 {
    width: 113px;
    padding-left: 10px !important;
}
.cart_column_01 span{
	vertical-align: middle;
}
.cart_column_01 label:hover{
	color: #e53;
}
.cart_column_02 {
    width: 250px;
    text-align: center;
}
.cart_column_02 span {
    padding-right: 10px;
}
.cart_column_03 {
    width: 68px;
    text-align: right;
}
.cart_column_04 {
    width: 110px;
}
.cart_column_05 {
    width: 80px;
    text-align: center;
}
.cart_column_06 {
    width: 95px;
}
.cart_column_07 {
    width: 95px;
}
.cart_column_08 {
    width: 155px;
    text-align: center;
}
.cart_column_08 span, .cart_column_08 a {
    padding-left: 10px;
}
.cart_header .cart_header_last {
    border-right: 1px solid #ddd;
}
/*购物车数据样式*/
.cart_goodslist {
    background: #FFF;
    border: 1px solid #ddd;
}
.cart_goodslist li {
    padding: 15px 0;
    border-bottom: 1px solid #e6e6e6;
}
.cart_goodslist .cart_column_02 {
    width: 243px;
    text-align: left;
    margin-left: 10px;
}
.check_btn,.cart_goodslist .product_img,.cart_goodslist .tags{
	display: inline-block;
}
.check_btn{
    width: 15px;
    height: 15px;
    margin-right: 10px;
    cursor: pointer;
    vertical-align: middle;
}
.cart_goodslist .product_img {
    width: 80px;
    height: 80px;
    border: 1px solid #e6e6e6;
    padding: 3px 0;
    text-align: center;
}
.cart_goodslist .product_name {
    font-size: 12px;
    color: #333;
    line-height: 22px;
    height: 48px;
    /* display: block; */
    margin-bottom: 10px;
    font-family: 'Arial','SimSun';
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.cart_goodslist .product_spec {
    margin-bottom: 10px;
}
.cart_goodslist .tags {
    border: 1px solid #ee5533;
    color: #ee5533;
    padding: 3px 6px;
    margin-right: 5px;
}
.cart_goodslist .product_price {
    color: #e53;
}
.product_price_modify {
    width: 78px;
    border: 1px solid #cccccc;
}
.product_price_modify .decrease, .product_price_modify .product_nums, .product_price_modify .increase {
    float: left;
}
.product_price_modify .decrease, .product_price_modify .increase {
    width: 17px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
}
.product_price_modify .product_nums {
    width: 40px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    color: #333;
    font-size: 12px;
}
.cart_goodslist .product_price {
    color: #e53;
}
.cart_goodslist .product_operation {
    color: #999999;
    margin-bottom: 5px;
}




/*结算*/
.cart_footer {
    border: 1px solid #dddddd;
    border-top: none;
    padding: 20px 12px;
    padding-bottom: 10px;
    background: #FFF;
    width: 966px;
    margin: 0 auto;
}
.cart_footer a {
    color: #333;
}
.xuanze{
	width: 44px;
	height: 14px;
	display: inline-block;
}

.cart_footer .delete_shopcarts {
    margin: 0 24px;
}
.delete_shopcarts:hover{
    color: #e53
}
.cart_footer .product_sum_info .product_sum {
    font-size: 20px;
    color: #e53;
}
.cart_footer .cart_jiesuan {
    float: right;
    margin-top: -10px;
}
.cart_footer .product_sum_info {
    text-align: right;
    float: left;
    color: #999999;
    margin-top: -5px;
}
.cart_footer .product_sum_info p {
    font-family: arial;
}
.cart_footer .product_sum_jisuan {
    margin-top: 10px;
    float: left;
}
.cart_footer .product_sum_jisuan a {
    background: #e53;
    color: #FFF;
    font-size: 22px;
    padding: 4px 20px;
    margin-left: 18px;
}
.cart_footer .product_sum_jisuan a:hover {
    color: #FFF !important;
    background: #cc2200;
}

