
#shop_con{
	width: 100%;
	background: #F3F3F3;
}
.shop_top_auto{
	width: 1190px;
	margin: 0 auto;
}
.shop_menu{
    width: 188px;
    height: 450px;
    background: #FFFFFF;
    border: 1px solid #c20;
    border-top: none;
    position: relative;
    z-index: 999;
}
.shop_menu .current{
	border: 2px solid #cd2c0b;
    border-left: 1px solid #cd2c0b;
    position: relative;
    z-index: 3;
    width: 170px;
    background: #fff;
    border-right: 0;
    margin-bottom: -2px;
    top: -1px;
}
.menu_list{
	width: 168px;
	padding: 8px 9px 9px;
	border: 1px solid #fff;
	border-bottom: 1px solid #ccc;
}
.menu_list:last-child{
	border-bottom: 0;
}
.menu_list .menu_tip em{
    width: 24px;
    height: 24px;
    background: url(img/dog.png) no-repeat;
    float: left;
    margin-right: 5px;
}
.menu_list .menu_tip .cat{
	background-image: url(img/cat.png);
}
.menu_list .menu_tip .rabit{
	background-image: url(img/rabit.png);
}
.menu_list .menu_tip .fish{
	background-image: url(img/fish.png);
}
.menu_list .menu_tip .cos{
	background-image: url(img/cos.png);
}
.menu_list .menu_tip a{
	float: left;
    font: 16px/18px "Microsoft YaHei";
    color: #333;
    margin: 3px 0 0 5px
}
.menu_list .menu_tip span{
	float: right;
    width: 6px;
    height: 9px;
    background: url(img/shop_arr.png) no-repeat;
    margin-top: 8px;
}
.menu_body li {
    float: left;
    width: 55px;
    padding: 5px 0 0;
}
.menu_body li a {
    color: #666;
    font: 14px/16px "Microsoft YaHei";
}
.menu_detail{
    position: absolute;
    left: 188px;
    top: 0;
    width: 612px;
    padding: 5px 20px;
    height: 437px;
    border: 2px solid #cf2d0d;
	background: #fff;
	opacity: 0.95;
}

.menu_detail li{
	padding: 6px 0;
	border-bottom: 1px dashed #ccc;
}
.menu_detail p{
	float: left;
    width: 118px;
    margin-top: 1px;
}
.menu_detail p a{
	font: bold 14px/16px "Microsoft YaHei";
    color: #f50;
}
.menu_detail div{
	float: left;
    width: 460px;
    font: 14px/20px "Microsoft YaHei";
    color: #ccc;
}
.menu_detail div a{
	color: #666;
    margin: 0 5px;
}
.banner{
	width: 800px;
	height: 451px;
	z-index: 150;
}
.banner #swiper-container {
	width: 800px;
	height: 360px;
}
.banner .swiper-slide {
	font-size: 60px;
	text-align: center;
	line-height: 300px;
}
.banner .swiper-pagination-bullet {
	width: 24px;
	height: 24px;
	text-align: center;
	/*line-height: 25px;*/
	font: 14px/24px "arial";
	color: #000;
	background: #666;
}
.banner #swiper-container .swiper-pagination-bullet-active {
	color: #fff;
	background: orangered;
}
.banner_bot{
	width: 800px;
	height: 91px;
	font-size: 0;
}
.banner_bot a{
	margin-right: 1px;
}
.banner_bot a:last-child{
	margin: 0;
}
.shop_message{
    width: 200px;
    background: #fff;
    border-bottom: 1px solid #f3f3f3;
    height: 450px;
    position: relative
}
#zx{
	padding: 10px;
	width: 180px;
	overflow: hidden;
	margin: 0 auto;
}
	#zx .swiper-container {
	height: 78px;
	overflow: hidden;
}
#zx .swiper-container .zx_tit{
	padding: 0 0 3px;
   	overflow: hidden;
}
#zx .swiper-container p{
	color: #333;
	font: 16px/18px "Microsoft YaHei";
	float: left;
}
#zx .swiper-container .turn{
	float: right;
}
#zx .turn .swiper-button-prev,#zx .turn .swiper-button-next{
	float: left;
	width: 15px;
	height: 15px;
	background: url(../css/img/zx_arror_l.png) no-repeat;
	margin: 3px 3px 0;
	cursor: pointer;
}
#zx .turn .swiper-button-next{
	background: url(../css/img/zx_arror_r.png) no-repeat;
			
}
#zx .swiper-slide {
	height: 57px;
}
#zx .swiper-slide  li {
	padding: 5px 0 0;
	font-size: 12px;
	/*font-family: arial,"SimSun";*/
	height: 14px;
	line-height: 14px;
	overflow: hidden;
}
#zx .swiper-slide  li a{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #333;
	float: left;
	max-width: 180px;
}

.dy{
	padding: 0 10px;
}
.dy strong {
    color: #333;
    font-family: "SimSun";
}
.dy_b {
    padding: 7px 0 0;
    position: relative;
    z-index: 2;
}
.dy_text {
    width: 110px;
    border: 1px solid #ccc;
    border-right: none;
    background: #f6f6f6;
    color: #999;
    float: left;
    padding: 0 5px;
    height: 22px;
    line-height: 22px;
}
.dy_btn {
    background: #e53;
    color: #fff;
    font-weight: bold;
    width: 50px;
    height: 24px;
    border: none;
    cursor: pointer;
}
.erwm{
	padding: 10px;
    border-top: 1px solid #f3f3f3;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 180px;
    height: 69px;
    z-index: 1;
}
.erwm dl dt {
    float: left;
    margin-right: 10px;
    width: 70px;
    height: 70px;
}
.erwm dl dd {
    font: 12px "Microsoft YaHei";
    padding: 5px 0 0;
    color: #e53;
}
.erwm dl .name {
    padding: 0;
    color: #333;
}
.body_auto{
	width: 1190px;
	margin: 0 auto;
}
.body_auto .hot_pro{
	margin-top: 25px;
}
.hot_pro .hot_pro_t{
	line-height: 22px;
}
.hot_pro_t h2{
	float: left;
    color: #e53;
    font-size: 20px;
}
.hot_pro_t a{
    float: right;
    font-size: 14px;
    color: #666;
}
.hot_pro_b{
	margin-top: 10px;
    overflow: hidden;
    border: 1px solid #e6e6e6;
}
.hot_pro_b_con {
    margin-right: -2px;
    height: 210px;
    overflow: hidden;
}
.hot_pro_b_con dl {
    float: left;
    width: 178px;
    padding: 20px 10px 15px;
}
.hot_pro_b_con dl dt {
    height: 120px;
    overflow: hidden;
}
.hot_pro_b_con dl dt img {
    width: 120px;
    height: 120px;
    display: block;
    margin-left: 28px;
    transition: all .3s ease;
    zoom: 1;
}
.hot_pro_b_con dl dd {
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
    font-family: arial,"Microsoft YaHei";
    padding-top: 10px;
}
.hot_pro_b_con dl dd a {
    font-size: 14px;
    color: #666;
}
.hot_pro a:hover,.brand a:hover{
	color: #e53;
}
.hot_pro_b_con dl dd span.l {
    float: left;
    color: #e53;
    font-size: 14px;
    font-family: arial,"SimSun";
}
.hot_pro_b_con dl dd span.r {
    float: right;
    color: #666;
    text-align: right;
}
.hot_pro_b_con dl dd span {
    width: 50%;
}
.brand{
	margin-top: 25px;
}
.brand_bot{
    height: 270px;
    position: relative;
    margin-top: 10px;
}
.brand_bot img {
    position: absolute;
    border: none;
    vertical-align: middle;
}
.brand_2 {
    left: 200px;
    top: 0;
}
.brand_3 {
    left: 200px;
    top: 140px;
}
.brand_4 {
    left: 400px;
    top: 0;
}
.brand_5 {
    left: 600px;
    top: 0;
}
.brand_6 {
    left: 600px;
    top: 140px;
}
.brand_7 {
    left: 800px;
    top: 0;
}
.brand_8 {
    left: 1000px;
    top: 0;
}
.brand_9 {
    left: 1000px;
    top: 140px;
}
.dog{
	margin-top: 20px;
}
.dog_top {
    border-bottom: 2px solid #e53;
    height: 38px;
    overflow: hidden;
}
.dog_tit {
    width: 190px;
    float: left;
    padding: 5px 0 0;
}
.dog_tit em{
    background: url(img/content_dog.png) no-repeat;
    width: 35px;
    height: 30px;
    float: left;
    margin-right: 5px;
}
.dog_tit h2 {
    font: 20px/30px "Microsoft YaHei";
    color: #e53;
}
.dog_tit h2 a {
    color: #e53;
}
.dog_nav {
    float: left;
    height: 32px;
    padding: 6px 0 0;
}
.dog_nav a{ 
	float: left;
	display:block;
}
.dog_nav a span{
	height: 32px;
    color: #333;
	text-align: center;
    padding: 0 15px;
	font: 16px/32px "Microsoft YaHei";
	border-right: 1px solid #CCCCCC;
}
.dog_nav a:last-child span{
	border: none;
}
.dog_nav a:hover {
    color: #fff !important;
    background: #e53;
    margin-left: -1px;
}
.dog_nav a:hover span{
	border: none;
	color: #fff;
	text-decoration: underline;
	padding: 0 16px 0 16px;
}
.dog_c {
    height: 480px;
    overflow: hidden;
    width: 800px;
}
.dog_body {
    height: 422px;
    overflow: hidden;
}
.dog_c_t dl.dog_c_t_1,.dog_c_t dl.dog_c_t_2,.dog_c_t dl.dog_c_t_3,.dog_c_t dl.dog_c_t_4 {
    border-top: none;
}
.dog_c_t dl {
    float: left;
    width: 174px;
    border: 1px solid #fff;
    padding: 20px 12px 15px;
    height: 174px;
}
.dog_c_t dl dt {
    height: 120px;
    overflow: hidden;
    margin-bottom: 5px;
}
.dog_c_t dl dt img {
    width: 120px;
    height: 120px;
    display: block;
    margin-left: 28px;
    transition: all .3s ease;
    zoom: 1;
}
.dog_c_t dl dd {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: arial,"Microsoft YaHei";
    padding-top: 7px;
}
.dog_c_t dl dd a {
    font-size: 14px;
    color: #666;
}
.dog_c_t dl dd span {
    width: 50%;
}
.dog_c_t dl dd span.r {
    float: right;
    color: #666;
    text-align: right;
}
.dog_c_t dl dd span.l {
    float: left;
    color: #e53;
    font-size: 14px;
    font-family: arial,"SimSun";
}
.dog_c_b {
    overflow: hidden;
}
.dog_c_b img {
    float: left;
    width: 80px;
    height: 36px;
    border: 1px solid #e6e6e6;
    border-left: none;
    padding: 10px 9px 10px 10px;
}
.dog_r {
    width: 178px;
    border: 1px solid #e6e6e6;
    border-top: none;
    padding: 10px;
    height: 459px;
}
.dog_r_t {
    font: 16px/18px "Microsoft YaHei";
    color: #e53;
}
.dog_r_b dl {
    margin-top: 12px;
    overflow: hidden;
}
.dog_r_b dl dt {
    float: left;
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin-right: 10px;
}
.dog_r_b dl dt img {
    width: 60px;
    height: 60px;
    display: block;
}
.dog_r_b dl dd {
    font-family: arial,"Microsoft YaHei";
    padding-top: 5px;
    color: #e53;
    font-size: 14px;
}
.dog_r_b dl dd.name {
    height: 38px;
    line-height: 18px;
    overflow: hidden;
    padding: 0;
}
.evaluate {
    overflow: hidden;
    margin-top: 25px;
}
.evaluate_l {
    width: 990px;
}
.evaluate_tit {
    border-bottom: 2px solid #e53;
    padding-bottom: 5px;
}
.evaluate_tit em {
    background: url(img/evaluate.png) no-repeat;
    width: 28px;
    height: 25px;
    float: left;
    margin-right: 5px;
}
.evaluate_tit h2 {
    font: 20px/25px "Microsoft YaHei";
    color: #e53;
}
.ev_bot {
    overflow: hidden;
    width: 989px;
    height: 182px;
    border-right: 1px solid #e6e6e6;
}
.ev_list {
    float: left;
    padding: 15px;
    border-left: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    font-family: arial,"SimSun";
    width: 462px;
}
.ev_list dl {
    float: left;
    width: 40px;
    height: 40px;
}
.ev_list dl dd {
    color: #999;
    text-align: middle;
    padding: 5px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ev_list dl dt img {
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 20px;
}

.ev_list ul {
    float: left;
    width: 315px;
    padding: 0 20px;
}
.ev_list ul li {
    overflow: hidden;
    color: #e53;
}
.ev_list ul li em {
    font-style: normal;
    float: left;
}
.ev_list ul li.text {
    color: #666;
    line-height: 18px;
    padding: 5px 0 0;
    height: 34px;
    overflow: hidden;
}
.score {
    float: left;
    width: 78px;
    height: 14px;
    background: url(img/icon.png) no-repeat 0px -77px;
    margin-right: 5px;
}

.pro{
    width: 60px;
    height: 60px;
    float: right;
}
.pro img{
	width: 60px;
	height: 60px;
}

.attention{
	width: 190px;
}
.wchat dl {
    padding: 10px;
    border: 1px solid #e6e6e6;
    border-top: none;
    height: 70px;
}
.wchat dl dt {
    height: 70px;
    width: 70px;
    float: left;
    margin-right: 10px;
}
.wchat dl .foot_w1 {
    background: url(img/evaluate_wechat.png) no-repeat;
}
.wchat dl .foot_w2 {
	background: url(img/evaluate_weibo.png) no-repeat;
}
.wchat dl dd {
    color: #666;
    padding: 3px 0 0;
    overflow: hidden;
}
.wchat dl dd em {
    color: #e53;
    font-style: normal;
    font-weight: bold;
}
.wchat dl dd span {
	display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 14px;
    background: url(img/v.png) no-repeat;
    margin-left: 6px;
}
.foot_wb {
    float: left;
    width: 80px;
    height: 28px;
    background: url(img/foot.png) no-repeat -413px 0px;
}
.foot_wb:hover{
	background: url(img/foot.png) no-repeat -413px -31px;
}

#buy_tips{
	width: 100%;
	height: 130px;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 1000;
	background-color: rgba(0,0,0,0.7);
}
.buy_tips_content{
	margin: 3px auto 0;
	padding-top: 31px;
	width: 1006px;
	height: 130px;
	background: url("../img/buy_tip.png") no-repeat ;
}
.buy_close{
	display: inline;
	float: right;
}
.buy_tips_close{
	margin-top: -32px;
	width: 37px;
	cursor: pointer;
	text-align: center;
	background: #F7F7F7;
	color: #E0E0E0;
	font: 14px/37px "microsoft yahei";
	border-radius: 50%;
}
